.controls {
    padding: 10px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.karmaCounter {
    align-self: center;
}

.karmaCounter > * + *{
    padding: 0 0 0 4px;
}

.karmaValue {
    color: var(--greyC4);
    font-size: 12px;
    line-height: 14px;
}

svg.down {
    transform: rotate(180deg);
}

.commentsButton {
    display: flex;
    align-items: center;
}

.commentsButton *{
    color: var(--greyC4);
}

.commentsNumber{
    padding: 0 0 0 6px;
    font-size: 12px;
    line-height: 14px;
}

.shareButton {
    margin-right: 15px;
    width: 20px;
    height: 20px;
}

.saveButton {
    width: 20px;
    height: 20px;
}

@media all and (min-width: 1024px) {
    .controls{
        flex: 1 1 7%;
    }

    .karmaCounter{
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
    }

    .karmaValue {
        font-size: 14px;
        line-height: 16px;
        color: var(--black);
    }

    .commentsButton {
        display: none;
    }

    .action {
        display: none;
    }
}

@media all and (min-width: 1540px) {
    .controls{
        position: relative;
        justify-content: right;
    }

    .karmaCounter > button.up:hover > svg > path {
        fill: var(--green);
    }

    .karmaCounter > button.down:hover > svg > path {
        fill: var(--orange);
    }
}

